body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #b3ff66;
    border-radius: 5px;
    background-color: #b3ff66;
}

form h2 {
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00203fff;
    border-radius: 3px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #00203fff;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #00203fff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #00203fff;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #ADEFD1FF;
}


/* Apply color to all student names */
table td:nth-child(2) {
    color: #00203fff /* You can change this color to your preferred color */
}
